link(rel="stylesheet", href="fots.css")
footer 
    .container
        .row
            .col-sm-3
                .dnlg
                    img(src="favicon-32x32.png" width="45" height="45" class="d-inline-block align-top" style="margin-right:4px;" alt="")
                    |I cook
            .col-sm-2
                h5 Get started
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Sign up
                    li
                        a(href="#") Downloads
            .col-sm-2
                h5 About us
                ul
                    li
                        a(href="#") Company Information
                    li
                        a(href="#") Contact us
                    li
                        a(href="#") Reviews
            .col-sm-2
                h5 Support
                ul
                    li
                        a(href="#") FAQ
                    li
                        a(href="#") Help desk
                    li
                        a(href="#") Forums
            .col-sm-3
                .social-networks
                    a(href="#").twitter
                        i.fa.fa-twitter.text-info    
                    a(href="#").facebook
                        i.fa.fa-facebook.text-primary
                    a(href="#").google
                        i.fa.fa-google-plus.text-danger 
                button.btn.btn-default(type='button') Contact us
    .footer-copyright
        p © 2016 Copyright Text