doctype
html(lang='en')
    head
        meta(charset='utf-8')
        include link.pug
        link(rel="stylesheet", href="menu.css")
        title menu

    body
        include nav.pug
        article.first
            .overlay
            .container
                p.animated.fadeInLeft Our Menu
        article.second
            .container
                h1 Main Dishes
                #owl.owl-carousel.owl-theme
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/anna-pelzer-472429-unsplash.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/eaters-collective-132772-unsplash.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/eaters-collective-172258-unsplash.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/elli-o-65548-unsplash.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/jason-leung-717686-unsplash.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/alex-munsell-18753-unsplash.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    .item
                        .card(style="width: 18rem")
                            .div-img
                                img(src="drinks/female1-chef.jpg")(style="width:100%; height: 200px;").card-img-top
                            .card-body
                                h2 Ahmed
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
        article.third
            .imbck
                .overlay            
                .container
                    h1 Hot Dishes
                    .row-center
                        p We have all types of drinks (hot drinks,soft drinks and juice)
        div.hotdishes
            .container
                .row
                    .card.col-md-5.offset-1
                        img(src="drinks/elli-o-65548-unsplash.jpg", alt="alt").card-img-top
                        .card-body
                            h5.card-title Hot Dishes
                            p.card-text Some quick example text to build on the card's content.                            
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                    .card.col-md-5.offset-1
                        <img src="drinks/crust-delicious-dinner-2271194.jpg" class="card-img-top" alt="...">
                        .card-body
                            h5.card-title Pizza
                            p.card-text Some quick example text to build on the card's content.                            
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
        article.forth
            .imbck
                .overlay
                .container
                    h1 Our Desert
                    .row-center
                        p We have all types of drinks (hot drinks,soft drinks and juice)
        div.hotdishes
            .container
                .row
                    .card.col-md-5.offset-1
                        img(src="drinks/appetizer-bowl-bread-539451.jpg", alt="alt").card-img-top
                        .card-body
                            h5.card-title Soup
                            p.card-text Some quick example text to build on the card's content.                            
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                    .card.col-md-5.offset-1
                        <img src="drinks/carrots-cucumber-delicious-1640777.jpg" class="card-img-top" alt="...">
                        .card-body
                            h5.card-title Lunch
                            p.card-text Some quick example text to build on the card's content.                            
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
        article.fifth
            .imbck
                .overlay
                .container
                    h1 Our Drinks
                    .row-center
                        p We have all types of drinks (hot drinks,soft drinks and juice)
        div.hotdishes
            .container
                .row
                    .card.col-md-5.offset-1
                        img(src="drinks/lex-sirikiat-778642-unsplash.jpg", alt="alt").card-img-top
                        .card-body
                            h5.card-title Hot Drinks
                            p.card-text Some quick example text to build on the card's content.                            
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                    .card.col-md-5.offset-1
                        <img src="drinks/tomasz-rynkiewicz-91046-unsplash.jpg" class="card-img-top" alt="...">
                        .card-body
                            h5.card-title Cold Drinks
                            p.card-text Some quick example text to build on the card's content.                            
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26
                        .menu-item
                            h3 Chicken
                            .menu-item-dot
                            .price $26                                       
       
        include fots.pug
        include script.pug
        script(src="about.js")