nav(class="mb-1 navbar navbar-expand-lg navbar-dark info-color")
    .container
        a(class="navbar-brand mb-0 h1" href="#" )
            img(src="favicon-32x32.png" width="45" height="45" class="d-inline-block align-top" style="margin-right:4px;" alt="")
            |ICook
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarSupportedContent-4")
            ul(class="navbar-nav ml-auto")
                li(class="nav-item active")
                    a(class="nav-link" href="home.html")
                        |Home 
                        span(class="sr-only")
                            |(current)
                li(class="nav-item")
                    a(class="nav-link" href="abouts.html")
                        |About
                li(class="nav-item")
                    a(class="nav-link" href="service.html")
                        |Service
                li(class="nav-item")
                    a(class="nav-link" href="menu.html")
                        |Menu
                li(class="nav-item")
                    a(class="nav-link" href="contact.html")
                        |Contact